# ==============================
# Frontend settings
# ==============================
NEXT_PUBLIC_API_URL=http://localhost:8000/api
JWT_SECRET=super_duper_very_long_safe_random_secret_key_string
API_DEBUG_LOGS=true